.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.desktop1-desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(75, 84, 106, 1);
}
 
.desktop1image71899661 {
  top: 640px;
  left: 816px;
  width: 138px;
  height: 138px;
  opacity: 0.50;
  position: absolute;
}
 
.desktop1-pngtreedifferentkindsofsciencestickersvectorpngima {
  top: 605px;
  left: 1007px;
  width: 406px;
  height: 406px;
  opacity: 0.50;
  position: absolute;
}
 
.desktop1-scienceofelementarychemistryclipartstickerliquiddr {
  top: 220px;
  left: 24px;
  width: 243px;
  height: 243px;
  opacity: 0.50;
  position: absolute;
}
 
.desktop1-pngtransparentlaboratorychemistrysciencecartoonche {
  top: 733px;
  left: 614px;
  width: 461px;
  height: 248px;
  opacity: 0.50;
  position: absolute;
}
 
.desktop1-imagesremovebgpreview1 {
  top: 416px;
  left: 55px;
  width: 276px;
  height: 276px;
  opacity: 0.50;
  position: absolute;
}
 
.desktop1-pngtreesetofstickersshowingvariousobjectsinalabora {
  top: 605px;
  left: 128px;
  width: 449px;
  height: 449px;
  opacity: 0.50;
  position: absolute;
}
 
.desktop1-pngtreeprintablesciencevectorpngimage121469261 {
  top: 16px;
  left: 776px;
  width: 664px;
  height: 664px;
  opacity: 0.30;
  position: absolute;
}
 
.desktop1-flatstickersofmanyscientificobjectsclipartvector62 {
  top: 58px;
  left: 207px;
  width: 583px;
  height: 497px;
  opacity: 0.50;
  position: absolute;
}
 
.desktop1-text10 {
  top: 394px;
  left: 353px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle1 {
  top: 496px;
  left: 614px;
  width: 327px;
  height: 89px;
  position: absolute;
  border-radius: 15px;
}
 
.desktop1-text11 {
  top: 513px;
  left: 671px;
  color: rgba(74, 84, 105, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Bold;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle8 {
  top: 58px;
  left: 0px;
  width: 1440px;
  height: 51px;
  position: absolute;
}
 
.desktop1-text12 {
  top: 143px;
  left: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: Regular;
  text-align: left;
  font-family: Irish Grover;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-text13 {
  top: 240px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Irish Grover;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle9 {
  top: 66px;
  left: 807px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text14 {
  top: 70px;
  left: 830px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle11 {
  top: 69px;
  left: 1191px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text15 {
  top: 70px;
  left: 1213px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle10 {
  top: 69px;
  left: 999px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text16 {
  top: 71px;
  left: 1011px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-pngtreeprintablesciencevectorpngimage121469262 {
  top: 144px;
  left: 433px;
  width: 664px;
  height: 664px;
  opacity: 0.30;
  position: absolute;
}
 
.desktop1-text17 {
  top: 394px;
  left: 353px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle13 {
  top: 58px;
  left: 0px;
  width: 1440px;
  height: 51px;
  position: absolute;
}
 
.desktop1-rectangle14 {
  top: 66px;
  left: 807px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text18 {
  top: 70px;
  left: 830px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle15 {
  top: 69px;
  left: 1191px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text19 {
  top: 70px;
  left: 1213px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle16 {
  top: 69px;
  left: 999px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text20 {
  top: 71px;
  left: 1011px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-text21 {
  top: 394px;
  left: 353px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle18 {
  top: 58px;
  left: 0px;
  width: 1440px;
  height: 51px;
  position: absolute;
}
 
.desktop1-rectangle19 {
  top: 66px;
  left: 807px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text22 {
  top: 70px;
  left: 830px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle20 {
  top: 69px;
  left: 1191px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text23 {
  top: 70px;
  left: 1213px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle21 {
  top: 69px;
  left: 999px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text24 {
  top: 71px;
  left: 1011px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-text25 {
  top: 394px;
  left: 353px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle23 {
  top: 58px;
  left: 0px;
  width: 1440px;
  height: 51px;
  position: absolute;
}
 
.desktop1-rectangle24 {
  top: 66px;
  left: 807px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text26 {
  top: 70px;
  left: 830px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle25 {
  top: 69px;
  left: 1191px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text27 {
  top: 70px;
  left: 1213px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-rectangle26 {
  top: 69px;
  left: 999px;
  width: 109px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop1-text28 {
  top: 71px;
  left: 1011px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
